header {
	margin-bottom: 20px;
}
#player .character {
	background-color: #DFF0D8;
}
#enemies .character {
	background-color: #F2DEDE;
}
#enemy .character {
	background-color: #C8C8C8;
}
.character {
	border: 2px solid #333;
	margin: 0px 10px;
}
.character-image img {
	width: 50%;
}
.attack {
	display: none;
}
#gameover {
	display: none;
}